
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

body{
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}


#title {
  color: white;
  background-color: #ff4c68;
}


.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-weight: 300;
  font-size: 1.2rem;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.title-img{
  width: 60%;
  transform: rotate(25deg)
}

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.featuresicon{
  font-size: 5rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.featuresicon:hover{
  color: #ff4c68;
  transition: 0.5s;
}

.feature-head{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
}

.features-desc{
  color: #8f8f8f;
}